#####################################################
# Build
#####################################################

bin/
obj/

#####################################################
# Visual Studio
#####################################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

#####################################################
# Visual Studio Code
#####################################################

.vscode/

#####################################################
# JetBrains Rider
#####################################################

.idea/

#####################################################
# Logs
#####################################################

*.log

#####################################################
# Operating System
#####################################################

.DS_Store
Thumbs.db

#####################################################
# Environment
#####################################################

.env
.env.*

#####################################################
# Node.js (Frontend)
#####################################################

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#####################################################
# React / Next.js
#####################################################

.next/
dist/
coverage/

#####################################################
# Docker
#####################################################

docker-data/

#####################################################
# Database
#####################################################

*.db
*.sqlite
*.sqlite3